/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

/****** Header ******/

header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    height: 79px;
}

.logo-booki img {
    width: 61.09px;
    margin-top: 35px;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 65px;
    margin-top: 20px;
}

span {
    color: #0065FC;
}

span:hover {
    border-top: 2px solid blue;
    padding: 18px 0;
}

/****** Formulaire ******/

.hebergement-title {
    margin-top: 20px;
    height: 53px;
    gap: 8px;
}

.section-title {
    height: 26px;
    line-height: 25.83px;
    font-weight: 700;
    font-size: 22px;
}

.subtitle {
    margin-top: 10px;
    font-weight: 400;
    line-height: 18.78px;
}

.form-container {
    margin-top: 35px;
    width: 377px;
    height: 49px;
    gap: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-color: #ffffff;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 0;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location i {
    color: black;
    font-size: 18px;
}

input {
    width: 147px;
    height: 21px;
    border: 0;
    outline: 0;
    appearance: none; 
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    outline: 0;
    border: 0;
}

::placeholder {
    color: black;
}

.btn-search {
    width: 132px;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 0;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    cursor: pointer;
}

/****** Filtres ******/

.filters {
    width: 758px;
    height: 50px;
    margin-top: 35px;
}

.filters-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

.filters-bar {
    display: flex;
    width: 758px;
    height: 50px;
    gap: 15px;
}

.filters-btn {
    display: flex;
    gap: 15px;
}

.btn {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    width: 173px;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;
    cursor: pointer;
}

.btn:hover {
    background-color: #DEEBFF;
}

.btn-fm {
    width: 134px;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;
    cursor: pointer;
}

.btn-fm:hover {
    background-color: #DEEBFF;
}

.btn i {
    font-size: 21px;
    margin-right: 10px;
}

.btn-fm i {
    font-size: 22px;
    margin-right: 10px;
}

/****** Info logements ******/

.info {
    width: 100%;
    max-width: 1340px;
    height: 24px;
    margin-top: 35px;
}

.info-logements {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-logements i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 10.5px;
    line-height: 1;
    text-align: center;
    margin-right: 10px;
}

.info-subtitle {
    font-size: 16px;
    font-weight: 400;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.cards {
    width: 250px;
    height: 190px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0px 0px 15px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hebergements-card {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-card img {
    width: 240px;
    height: 110px;
    border: 5px solid #ffffff;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hebergements-card .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.hebergements-card .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.hebergements-card .card-rating {
    font-size: 17px;
    margin-top: 8px;
}

.hebergements .section-title2 {
    margin-top: 35px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activité à Marseille ******/

.activity-in-marseille {
    max-width: 1340px;
    height: 550px;
    margin-top: 35px;
    padding: 30px;
}

.activity-card {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 439px;
    gap: 10px;
    margin-top: 35px;
}

.activity-card .image-container {
    width: 297px;
    height: 440px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.activity-card .cards {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px;
    margin-right: 50px;
}

.activity-card .card-subtitle2 {
    width: 297px;
    height: 59px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    margin-top: 18px;
    margin-left: 18px;
}

.activity-card img {
    width: 297px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    object-fit: cover;
}

/****** Footer ******/

.footer {
    max-width: 1340px;
    height: 180px;
    background-color: #F2F2F2;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
}

.footer-links {
    padding: 20px;
    line-height: 35px;
}

.footer-links:nth-child(2) { /* La colonne du milieu */
    margin-left: 215px;
}

.footer-links:nth-child(3) { /* La colonne de droite */
    margin-left: 235px;
}

.footer-links a {
    display: flex;
    flex-direction: column;
}

.footer-links .footer-title {
    font-size: 18px;
    font-weight: 700;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* For desktop (1440px) */
@media (max-width: 1440px) {

    .hebergements {
        width: 65.8%;
    }

    .hebergements-card {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}