/****** General ******/
* {
    font-family: 'Raleway', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

/****** Header ******/

.navbar {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.logo img {
    width: 60px;
    margin-top: 35px;
}

/****** Liens du header *****/

.navbar ul {
    display: flex;
    margin-top: 20px;
}

.navbar ul li {
    margin-left: 60px;
}

.navbar ul li a {
    color: #000000;
    position: relative; /* Pour permettre l'utilisation de ::before et ::after */
    padding: 20px 0;
}

.navbar ul li a:hover {
    color: #0065FC;
}

/* Ligne bleue au-dessus par défaut */
.navbar ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    height: 2px;
}

.navbar ul li a:hover::before {
    background-color: #0065FC;
}

/****** Formulaire ******/

.hebergement-title {
    margin-top: 50px;
}

.hebergement-title h1 {
    font-size: 22px;
    margin: 0;
}

.hebergement-title p {
    margin: 10px 0 0; 
    line-height: 1.2;
}

/******* Recherche *******/

.search-container {
    margin-top: 35px;
    width: 377px;
    height: 49px;
    gap: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-color: #ffffff;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 0;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location i {
    color: black;
    font-size: 18px;
}

input {
    width: 147px;
    height: 21px;
    border: 0;
    outline: 0;
    appearance: none; 
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    outline: 0;
    border: 0;
}

::placeholder {
    color: black;
}

.btn-search {
    width: 132px;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 0;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.btn-search i {
    display: none;
}

/******** Filtres *******/

.filters {
    margin-top: 35px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.filters-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.btn {
    width: 173px;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: #DEEBFF;
}

.btn-fm {
    width: 134px;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.btn-fm:hover {
    background-color: #DEEBFF;
}

.btn i {
    font-size: 21px;
    vertical-align: middle; 
    position: relative;
    left: -5px; 
}

.btn-fm i {
    vertical-align: middle; 
    position: relative;
    font-size: 22px;
    left: -5px;
}

/****** Info Hebergement ******/

.info {
    width: 100%;
    height: auto;
    margin-top: 35px;
}

.info-hebergements {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-hebergements i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 10.5px;
    line-height: 1;
    text-align: center;
    margin-right: 10px;
}

.info-subtitle {
    font-size: 16px;
    font-weight: 400;
}

/******* Main *******/

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/******* Liens des cards & cards de Hebergements and Populaires *******/

a {
    color: inherit;
    text-decoration: none;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/******** Hebergements ********/
.hebergements {
    width: 65%;
}

.hebergements-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
    row-gap: 35px;
}

.hebergements-card a {
    width: 31%;
    height: auto;
}

.cards {
    width: 95%;
    height: 200px;
    border-radius: 20px;
    background-color: #ffffff;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 5px;
}

.cards img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.cards .card-content {
    margin-top: 3px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards .card-title {
    margin-top: 3px;
}


.cards .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.cards .card-rating {
    font-size: 17px;
    margin-top: 5px;
}

.hebergements .section-title2 {
    margin-top: 30px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activité à Marseille ******/

.activity {
    display: flex;
    margin-top: 35px;
}

.activity-in-marseille {
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

.activity-cards {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.activity-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card-marseille {
    width: 100%;
    height: 439px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.img-container {
    width: 100%;
}

.card-subtitle3 {
    margin-left: 20px;
    margin-top: 15px;
}

.card-subtitle4 {
    margin-left: 20px;
    margin-top: 15px;
}


/****** Footer ******/

.footer-container {
    margin-top: 35px;
    width: 100%;
    background-color: #F2F2F2;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links .links {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.links:nth-child(2) {    /* Permet de cibler un élement*/
    margin-left: -20px;
}

.links:nth-child(3) {
    margin-right: 300px;
}

.footer-title {
    line-height: 20px;
}

.links a {
    display: flex;
    margin-top: 18px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* For desktop (1440px) */
@media (max-width: 1440px) {

    .hebergements-card {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 68px;
        box-sizing: border-box;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .btn {
        width: 161px;
        height: 50px;
        font-size: 15px;
        padding: 3px 20px 0px 19px;
        margin-bottom: 10px;
    }

    .btn-fm {
        font-size: 15px;
        padding: 3px 20px 0px 19px;
        margin-bottom: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    /****** Hebergements ******/

    .hebergements {
        width: 100%;
    }

    .hebergements-card {
        display: flex;
        row-gap: 35px;
    }

    .hebergements-card a {
        width: 31%;
        height: auto;
    }

    /****** Populaires *****/

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 31.8%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /***** Activité à Marseille *****/

    .activity-cards {
        width: 100%;
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    
    .activity-cards img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    
    .card-marseille {
        width: 100%;
        height: 265px;
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    
    .img-container {
        width: 100%;
    }
    
    .card-subtitle3 {
        font-size: 14px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .card-subtitle4 {
        font-size: 14px;
        margin-left: 20px;
        margin-top: 10px;
    }

    /****** Footer *****/

    .links:nth-child(2) {  
        margin-left: -10px;
    }
    
    .links:nth-child(3) {
        margin-right: 150px;
    }  
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
    }

    /****** Header ******/

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: 61px;
    }

    .navbar ul {
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
    }

    .navbar ul li {
        width: 50%;
        margin: 0;
        flex-grow: 1; /* Permet à chaque li de prendre toute la largeur disponible */
    }

    .navbar ul li a {
        padding: 15px 0;
        text-align: center;
        display: block; /* Le lien prend toute la largeur de son parent */
        width: 100%; /* Le lien occupe toute la largeur */
    }

    /* Ligne bleue en dessous à partir de 725px */
    .navbar ul li a::before {
        top: auto;
        bottom: -2px; /* La ligne est déplacée en dessous du lien */
    }

    .navbar ul li a:hover::before {
        background-color: #0065FC; /* Active la ligne bleue au hover */
    }

    /***** Barre de recherche *****/

    .hebergement-title {
        margin-top: 30px;
    }

    .search-hebergements {
        padding: 0 20px 0 20px;
    }

    .search-container {
        margin-top: 35px;
        width: 100%;
        height: 49px;
        gap: 24px;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
        background-color: #ffffff;
    }

    .search {
        margin-right: 41px;
    }

    .btn-search {
        width: 49px; 
        padding: 0;
        border-radius: 15px 15px 15px 15px;
        box-shadow: rgb(0 0 0 / 26%) 0px 4px 3px 0px;
    }

    .btn-search i {
        display: inline;
        font-size: 17px;
        line-height: 49px;
        color: white;
    }

    .btn-search {
        font-size: 0;
    }

    /****** Filtres ******/

    .filters-btn {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .filters-btn button {
        flex: 0 1 calc(50% - 5px); /* Chaque bouton prend 50% de la largeur, moins l'espace (gap) */
    }

    .btn {
        font-size: 14px;
        padding: 3px 20px 0px 19px;
        margin-bottom: 10px;
    }

    .btn i {
        font-size: 18px;
        bottom: 2px;
    }

    .btn-fm {
        width: 173px;
        font-size: 14px;
        padding: 3px 48px 0px 19px;
    }

    .btn-fm i {
        font-size: 20px;
        margin-right: 5px;
        bottom: 2px;
    }

    .info {
        width: 100%;
        max-width: 1340px;
        height: 24px;
        margin-top: 30px;
    }

    .info-subtitle {
        font-size: 15px;
    }

    /****** Hebergements & populaires ******/

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .section-title {
        font-size: 22px;
    }

    /****** Hebergements *****/

    .hebergements {
        width: 100%;
    }

    .hebergements-card {
        margin-top: 15px;
        gap: 15px;
    }

    .cards {
        width: 100%;
        padding: 5px;
    }

    .cards img {
        width: 100%;
    }

    .hebergements-card a {
        width: 100%;
        padding-right: 10px;
    }

    .hebergements .section-title2 {
        margin-top: 20px;
        font-size: 18px;
    }

    /****** Populaires ******/

    .populaires {
        margin-top: 15px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 15px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    /******* Activité à Marseille *******/

    .activity-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .card-subtitle4 {
        margin-top: 20px;
    }

    .card-marseille {
        width: 100%;
        height: 220px;
    }

    .activity-cards img {
        width: 100%;
        height: 150px;
    }

    /****** Footer *****/

    .footer-links {
        flex-direction: column;
    }

    .links:nth-child(2) {
        margin-left: 0;
    }
}

@media (max-width: 368px) {

    .search {
        margin-right: 0;
    }

    ::placeholder {
        font-size: 16px;
    }

    .btn {
        width: 100px;
        font-size: 12px;
        padding: 3px 10px 0px 15px;
    }

    .btn-fm {
        width: 100px;
        font-size: 12px;
        padding: 3px 10px 0px 0px;
    }

    .btn i {
        font-size: 13px;
        bottom: 1px;
    }

    .btn-fm i {
        font-size: 13px;
        bottom: 1px;
    }
}