/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

/****** Header ******/

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.logo img {
    width: 60px;
    margin-top: 35px;
}

.navbar ul {
    display: flex;
    margin-top: 20px;
}

.navbar ul li {
    margin-left: 60px;
}

.navbar ul li a {
    color: #000000;
}

span {
    color: #0065FC;
}

span:hover {
    border-top: 2px solid blue;
    padding: 18px 0;
}


/****** Formulaire ******/

.search-hebergements {
    width: 100%;
    height: auto;
}

.hebergement-title {
    margin-top: 50px;
}

.hebergement-title h1 {
    font-size: 22px;
    margin: 0;
}

.hebergement-title p {
    margin: 10px 0 0; 
    line-height: 1.2;
}

/******* Recherche *******/

.search-container {
    margin-top: 35px;
    width: 377px;
    height: 49px;
    gap: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-color: #ffffff;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 0;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location i {
    color: black;
    font-size: 18px;
}

input {
    width: 147px;
    height: 21px;
    border: 0;
    outline: 0;
    appearance: none; 
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    outline: 0;
    border: 0;
}

::placeholder {
    color: black;
}

.btn-search {
    width: 132px;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 0;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.btn-search i {
    display: none;
}

/******** Filtres *******/

.filters {
    margin-top: 35px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.filters-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.btn {
    width: 173px;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: #DEEBFF;
}

.btn-fm {
    width: 134px;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.btn-fm:hover {
    background-color: #DEEBFF;
}

.btn i {
    font-size: 21px;
    vertical-align: middle; 
    position: relative;
    left: -5px; 
}

.btn-fm i {
    vertical-align: middle; 
    position: relative;
    font-size: 22px;
    left: -5px;
}

/****** Info Hebergement ******/

.info {
    width: 100%;
    height: auto;
    margin-top: 35px;
}

.info-hebergements {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-hebergements i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 10.5px;
    line-height: 1;
    text-align: center;
    margin-right: 10px;
}

.info-subtitle {
    font-size: 16px;
    font-weight: 400;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.cards {
    width: 250px;
    height: 190px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0px 0px 15px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hebergements-card {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-card img {
    width: 240px;
    height: 110px;
    border: 5px solid #ffffff;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hebergements-card .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.hebergements-card .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.hebergements-card .card-rating {
    font-size: 17px;
    margin-top: 8px;
}

.hebergements .section-title2 {
    margin-top: 35px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activité à Marseille ******/

/*.marseille {
    display: flex;
}

.activity-in-marseille {
    width: 100%;
    height: 560px;
    padding: 30px;
    margin-top: 35px;
    box-sizing: border-box;
}

.activity-card {
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.card-marseille {
    width: 100%;
    max-width: 297px;
    min-height: 440px;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.card-marseille img {
    width: 100%;
    min-height: 380px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card-marseille-big {
    min-width: 295px;
    max-height: 200px;
}

.image-container h4 {
    margin-top: 15px;
    margin-left: 20px;
}*/

.activity {
    display: flex;
    margin-top: 35px;
}

.activity-in-marseille {
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

.activity-cards {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.activity-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card-marseille {
    width: 100%;
    height: 439px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.img-container {
    width: 100%;
}

.card-subtitle3 {
    margin-left: 20px;
    margin-top: 15px;
}


/****** Footer ******/

.footer-container {
    margin-top: 35px;
    width: 100%;
    max-width: 1340px;
    height: 170px;
    background-color: #F2F2F2;
    box-sizing: border-box;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 163px;
}

.footer-links .links {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.links:nth-child(2) {
    margin-left: -20px;
}

.links:nth-child(3) {
    margin-right: 300px;
}

.footer-title {
    line-height: 20px;
}

.links a {
    display: flex;
    margin-top: 18px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* For desktop (1440px) */
@media (max-width: 1440px) {

    .hebergements {
        width: 65.8%;
    }

    .hebergements-card {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    

}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .links:nth-child(2) {
        margin-left: -10px;
    }
    
    .links:nth-child(3) {
        margin-right: 150px;
    }
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0px;
        box-sizing: border-box;
    }

    /****** Header ******/

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: 61px;
    }

    .navbar ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    .navbar ul li {
        margin-left: 0;
    }

    .search-hebergements {
        padding: 0 20px 0 20px;
    }

    .search-container {
        margin-top: 35px;
        width: 335px;
        height: 49px;
        gap: 24px;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
        background-color: #ffffff;
    }

    .search {
        margin-right: 41px;
    }

    .btn-search {
        width: 49px; 
        padding: 0;
        border-radius: 15px 15px 15px 15px;
        box-shadow: rgb(0 0 0 / 26%) 0px 4px 3px 0px;
    }

    .btn-search i {
        display: inline;
        font-size: 17px;
        line-height: 49px;
        color: white;
    }

    .btn-search {
        font-size: 0;
    }

    /****** Filtres ******/

    .filters-bar {
        display: flex;
        width: 758px;
        height: 50px;
        gap: 15px;
        flex-direction: column;
    }

    .filters-btn {
        display: flex;
        flex-wrap: wrap;
    }

    .btn {
        font-size: 14px;
        padding: 2px 20px 0px 19px;
    }

    .btn-fm {
        font-size: 14px;
        padding: 2px 48px 0px 19px;
    }

    .btn-fm i {
        margin-right: 5px;
    }

    .filters-btn .btn-fm {
        width: 173px;
    }

    .info {
        width: 100%;
        max-width: 1340px;
        height: 24px;
        margin-top: 30px;
    }

    /****** Hebergements & populaires ******/

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .populaires {
        margin-top: 15px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    /******* Activité à Marseille *******/

    
}